<mat-horizontal-stepper [linear]="true" #stepper>

    <!-- Student Verification -->
    <mat-step [completed]="stepper1Valid && !(!questionCount) && questionShuffled == 'true'">
        <ng-template matStepLabel>Verification</ng-template>
        <div class="container">
                <div class="col-sm-12 p-2 Table" *ngFor="let exam of examDetails; let index=index">
            <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-checkbox (change)="SubmitVerification()" [(ngModel)]="exam.verified" class="pt-1 px-3"></mat-checkbox>
                                <span class="TitleCaption w-100">{{exam?.examName}}</span>
                                <span class="float-right w-25 TitleTotal pt-1">
                                    Total Students: 
                                    {{exam?.studentList?.data?.length}}
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-form-field class="w-100">
                            <mat-label>Filter</mat-label>
                            <input (keyup)="applyFilter($event.target.value, index)" matInput placeholder="Filter">
                        </mat-form-field>
                        <mat-table [dataSource]="exam?.studentList" matSort>
                                <!--- Note that these columns can be defined in any order.
                                                            The actual rendered columns are set as a property on the row definition" -->
                    
                                <!-- SNO Column -->
                                <ng-container [matColumnDef]="displayedColumns[0]">
                                  <mat-header-cell class="tableHeader" *matHeaderCellDef> {{headerCaption?.caption1}}
                                  </mat-header-cell>
                                  <mat-cell *matCellDef="let element; let i = index;">
                                    {{(i+1) + (myPaginator.pageIndex * myPaginator.pageSize)}} </mat-cell>
                                </ng-container>
                    
                                <!-- name Column -->
                                <ng-container [matColumnDef]="displayedColumns[1]">
                                  <mat-header-cell class="tableHeader" *matHeaderCellDef mat-sort-header>
                                    {{headerCaption?.caption2}} </mat-header-cell>
                                  <mat-cell *matCellDef="let element">
                                    {{element[displayedColumns[1]]}}
                                  </mat-cell>
                                </ng-container>
                    
                                <!-- hall ticket no Column -->
                                <ng-container [matColumnDef]="displayedColumns[2]">
                                  <mat-header-cell class="tableHeader" *matHeaderCellDef mat-sort-header>
                                    {{headerCaption?.caption3}} </mat-header-cell>
                                  <mat-cell *matCellDef="let element">
                                    {{element[displayedColumns[2]]}} </mat-cell>
                                </ng-container>

                                 <!-- system no Column -->
                                 <ng-container [matColumnDef]="displayedColumns[3]">
                                        <mat-header-cell class="tableHeader" *matHeaderCellDef mat-sort-header>
                                          {{headerCaption?.caption4}} </mat-header-cell>
                                        <mat-cell *matCellDef="let element">
                                          {{element[displayedColumns[3]]}} </mat-cell>
                                      </ng-container>
                    
                                <!-- action Column -->
                                <ng-container [matColumnDef]="displayedColumns[4]">
                                  <mat-header-cell class="tableHeader" *matHeaderCellDef>
                                    {{headerCaption?.caption5}} </mat-header-cell>
                                  <mat-cell *matCellDef="let element; let i=index">
                                    <button 
                                    (click)="SingleStudentVerification(element, index, i + (myPaginator.pageIndex * myPaginator.pageSize))" 
                                    [disabled]="element?.verified" mat-flat-button class="Submit">
                                       <span *ngIf="!element?.verified">Verify</span> 
                                       <span *ngIf="element?.verified">Verified</span> 
                                    </button>    
                                </mat-cell>
                                </ng-container>
                    
                    
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                              </mat-table>
                              <div class="col-sm-12 d-flex justify-content-center p-3" *ngIf="exam?.studentList?.data?.length == 0">
                                No data available
                              </div>
                                <div class="row">
                                  <div class="col-sm-10">
                                      <mat-paginator #myPaginator style="background: transparent" [pageSize]="50"
                                      [pageSizeOptions]="[50, 75, 100]">
                                    </mat-paginator>
                                  </div>
                              </div>
                    </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="row m-4">
          <div class="col-sm-10">
            <mat-form-field class="w-100">
              <mat-label>Question Shuffle Count</mat-label>
              <input (keypress)="dataService?.NumberOnly($event)" [disabled]="!stepper1Valid" maxlength="1" 
               [(ngModel)]="questionCount" matInput placeholder="Question Shuffle Count">
            </mat-form-field>
          </div>
          <div class="col-sm-1">
              <button [disabled]="!questionCount || !stepper1Valid || questionShuffled == 'true'" mat-raised-button 
              (click)="SubmitStepper1()" class="Submit">Submit</button>
          </div>
          <div class="col-sm-1">
              <button [disabled]="!(questionShuffled == 'true') || !questionCount || !stepper1Valid" mat-raised-button 
              color="primary" matStepperNext>Next</button>
          </div>
        </div>
        </div>
    </mat-step>

    <!-- Seat Allocation -->
    <mat-step>
        <ng-template matStepLabel>Seat Allocation</ng-template>
        number2
    </mat-step>

</mat-horizontal-stepper>