<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav position="end" class="SideNav" mode="side" [(opened)]="sideNav">
        <!-- Timer -->
        <div class="col-sm-12 mt-3 Time d-flex justify-content-center">
            <countdown #cd1 [config]="timerConfig" (event)="handleEvent($event)"></countdown>
        </div>

        <!-- explanation about status -->
        <div class="col-sm-12">
            <div class="row px-4 py-1">
                <button class="NotVisited my-fab" mat-mini-fab>!</button>
                <span class="pl-2 Info">Marked as Not Visited</span>
            </div>

            <div class="row px-4 py-1">
                <button class="Visited my-fab" mat-mini-fab>!</button>
                <span class="pl-2 Info">Marked as Visited</span>
            </div>

            <div class="row px-4 py-1">
                <button class="Answered my-fab" mat-mini-fab>!</button>
                <span class="pl-2 Info">Marked as Answered</span>
            </div>
            <div class="row px-4 py-1">
                <button class="Review my-fab" mat-mini-fab>!</button>
                <span class="pl-2 Info">Marked as Review</span>
            </div>
        </div>

        <!-- Question Navigation -->
        <div class="col-sm-12 mt-4 QuestionPagination" *ngIf="examinationData?.length > 0">
            <div class="row px-3 QuestionNo">
                Choose a Question
            </div>
            <div class="row p-2">
                <div class="col-sm-3 p-2" *ngFor="let exam of examinationData; let i=index">
                    <button [disabled]="!submitDisable" [matTooltip]="exam?.status==0?'Not Visited':(exam?.status==1?
                        'Visited':exam?.status==2?'Answered':'Marked For Review')" 
                        [ngClass]="{'NotVisited': exam?.status==0, 'Visited': exam?.status==1, 
                        'Answered': (exam?.status==2), 'Review': (exam?.status==3)}"
                        (click)="GotoQuestion(i)" mat-mini-fab>{{i+1}}</button>
                </div>

            </div>
        </div>

        <!-- submit button -->
        <div class="col-sm-12">
            <button [disabled]="submitDisable" (click)="Submit()" mat-raised-button
                class=" col-sm-12 Submit">Submit</button>
        </div>


    </mat-sidenav>
    <mat-sidenav-content>
        <div class="container">
            <div class="col-sm-12"
                *ngFor="let exam of examinationData; let i=index; let first = first; let last = last">
                <div class="row mt-3 QuestionNo" *ngIf="i==activeIndex">
                    Question No: {{i+1}}
                </div>
                <div class="row mt-4 Question" *ngIf="i==activeIndex">
                    <div [ngClass]="{'col-sm-12': exam?.isImage == 0, 
                    'col-sm-8': exam?.isImage == 1}">
                        <div class="row" [innerHtml]="exam?.question"></div>
                        <div class="row p-2" *ngIf="exam?.isAudio == 1 || exam?.isVideo == 1">
                            <div *ngIf="exam?.isAudio == 1" class="col-sm-5">
                                <audio class="w-100" controls>
                                    <source [src]="exam?.audioFile">
                                </audio>
                            </div>
                            <div *ngIf="exam?.isVideo == 1" class="col-sm-7">
                                <video class="w-100" controls>
                                <source [src]="exam?.videoFile">
                            </video>
                            </div>
                        </div>
                        <!-- Questions available here -->
                    </div>
                    <div class="col-sm-4">
                        <div class="row" *ngIf="exam?.isImage == 1">
                            <img class="rounded QuestionImage" [src]="exam?.imgUrl" alt="">
                        </div>
                    </div>
                </div>
                <div class="row mt-5" *ngIf="i==activeIndex">
                    <div class="col-sm-3" *ngFor="let options of exam?.options; let j=index">
                        <mat-radio-button [disabled]="!submitDisable" color="primary" [checked]="exam?.answeredOption == options?.optionId"
                            (change)="Answer(i, j, exam?.studentResponseId, $event)"
                            [value]="options?.optionId">
                            <span style="word-wrap: break-word;" *ngIf="options?.isImage == 0" [innerHtml]="options?.option">
                                <!-- Options available here -->
                            </span>
                            <img *ngIf="options?.isImage == 1" class="rounded AnswerImage" [src]="options?.option" alt="">
                        </mat-radio-button>
                    </div>
                </div>
                <div class="row mt-5" *ngIf="i==activeIndex">
                    <div class="col-sm-2">
                        <button [disabled]="!submitDisable" (click)="MarkASReview(i, exam?.status)" class="MarkReview" mat-raised-button>
                            <span *ngIf="exam?.status!=3">Mark as review</span>
                            <span *ngIf="exam?.status==3">Reviewed</span>
                        </button>
                    </div>
                    <div class="col-sm-6">
                        <button [disabled]="!submitDisable" (click)="ClearResponse(i)" mat-raised-button color="warn">
                            Clear Response
                        </button>
                    </div>
                    <div class="col-sm-2">
                        <button matTooltip="Previous" *ngIf="!first" (click)="Navigate('previous', i, first, last)"
                            class="Submit" mat-flat-button>
                            <span>Previous</span>
                            <!-- <mat-icon *ngIf="!first">
                                keyboard_arrow_left
                            </mat-icon> -->
                        </button>
                    </div>
                    <div class="col-sm-2">
                        <button [disabled]="!submitDisable" [matTooltip]="last?'Save':'Save and Next'" (click)="Navigate('next', i, first, last)"
                            class="Submit" mat-flat-button>
                            <span *ngIf="!last">Save and Next</span>
                            <span *ngIf="last">Save</span>
                            <!-- <mat-icon *ngIf="!last">
                                keyboard_arrow_right
                            </mat-icon>
                            <mat-icon *ngIf="last">
                                save
                            </mat-icon> -->
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>