<router-outlet></router-outlet>

<ngx-ui-loader
bgsColor= "#f1c40f"
bgsOpacity= "0.5"
bgsPosition= "bottom-right"
bgsSize= 60
bgsType= "ball-spin-clockwise"
blur= "0"
delay= 0
fgsColor= "#DE6E4B"
fgsPosition= "center-center"
fgsSize= 40
fgsType= "chasing-dots"
gap= 24
logoPosition= "center-center"
logoSize= 120
logoUrl= ""
masterLoaderId= "master"
overlayBorderRadius= "0"
overlayColor= "rgba(40,40,40,0.17)"
pbColor= "#f1c40f"
pbDirection= "ltr"
pbThickness= 2
hasProgressBar= false
text= "loading..."
textColor= "#011e40"
textPosition= "center-center"
maxTime= -1
minTime= 500>
</ngx-ui-loader>