@import '../../../../styles.scss';

.bottomButton{
    position:fixed;
    bottom:10%;
    right:3%;
    outline: none !important;
}

.Title{
    font-size: 1.3em;
    font-weight: bold;
    color: color(primary);
}
